

{% from "security/_macros.html" import render_field, render_field_with_errors, render_checkbox_field %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Puppy Management System">
	<meta name="author" content="Leonel">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="shortcut icon" href="img/icons/icon-48x48.png" />


	<title>Register</title>

	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">


	<style>
		:root {
			--primary-color: #4EA685;
			--secondary-color: #00ff2a;
		}

		.content-row {
			background-image: linear-gradient(-45deg, var(--primary-color) 0%, var(--secondary-color) 100%);
			transition: 1s ease-in-out;
			/* border-bottom-right-radius: max(50vw, 50vh); */
			border-bottom-right-radius: max(50vw, 50vh);
		}

		.content-row,
		.card {
			box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
		}
	</style>
</head>

<body>
	<main class="d-flex w-100">
		<div class="container-fluid d-flex flex-column">
			<div class="row">

				<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
					<div class="d-table-cell align-middle">

						<div class="text-center mt-4">
							<h1 class="h2">Register</h1>
							<p class="lead">
								Register and manage your puppies in one place!!
							</p>
						</div>

						<div class="shadow-none p-3 mb-5  rounded rounded-3">
							<div class="m-sm-4">
                                <div class=" text-danger">{% include "security/_messages.html" %}</div>
                                <form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">

                                    {{ register_user_form.hidden_tag() }}
                                    <div class="mb-3">
                                        {{ render_field_with_errors(register_user_form.first_name,placeholder="Enter your First Name",class="form-control form-control-lg rounded-0 border-dark") }}
                                    </div> <div class="mb-3">
                                        {{ render_field_with_errors(register_user_form.last_name,placeholder="Enter your last Name",class="form-control form-control-lg rounded-0 border-dark") }}
                                    </div>
                                    <div class="mb-3">
                                        {{ render_field_with_errors(register_user_form.email,placeholder="Enter your email",class="form-control form-control-lg rounded-0 border-dark") }}
                                    </div>
                                    <div class="mb-3">
                                        {{ render_field_with_errors(register_user_form.password,placeholder="Enter your password",class="form-control form-control-lg rounded-0 border-dark") }}
                                    </div>
                                    <div class="mb-3">
                                        {% if register_user_form.password_confirm %}
                                        {{ render_field_with_errors(register_user_form.password_confirm,placeholder="Confirm password",class="form-control form-control-lg rounded-0 border-dark") }}
                                        {% endif %}
                                    </div>
                                    
                                    {{ render_field(register_user_form.next) }}
                                    <div class="text-center mt-3">
                                        {{ render_field(register_user_form.submit, class="w-100 btn btn-lg text-white bg-dark ") }}
                                    </div>
                                </form>
                                <p>Already signed up? Please <a href="{{ url_for('security.login') }}">log in</a>.</p>
        
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</main>


</body>
</html>
