#Don't install the first two libraries
uwsgi
Gunicorn

#Install these either
psycopg2
Flask
Flask-Admin
Flask-SQLAlchemy
flask-security-too
email_validator
sqlalchemy_serializer
simple_websocket
pandas
numpy