{% extends 'base.html' %}

{% block title %}
Dashboard
{% endblock %}
{% block content %}
<div class=" pt-1 me-1">
    <div class="text-center h4 py-2">Puppy Adults</div>
    <p class=" text-center">I this page you need to add the information about the parents(Females) of the
        puppies.</p>
    <div class=" d-flex justify-content-start py-2">
        <button class="btn btn-sm btn-success" role="button" data-bs-toggle="modal" data-bs-target="#add-new-puppy">Add
            new</button>
    </div>
    <div class="modal fade" data-bs-backdrop="false" id="add-new-puppy" tabindex="-1" role="dialog">
        <form id="add-new-adult-form" class="needs-validation" novalidate>
            <div class="modal-dialog rounded-0 modal-lg">
                <div class="modal-content rounded-0">
                    <div class="modal-header py-2">
                        <h5 class="modal-title">Add New Adult</h5>
                    </div>
                    <div class="modal-body">

                        <div class="row mt-4 ">
                            <div class="col-md-6 form-group ">
                                <label for="name" class="col-form-label">Identify (name or ID):</label>
                                <input type="text" required="" class="form-control" name="name">
                            </div>

                            <div class="col-md-6 form-group ">
                                <label for="weight_in_grams" class="col-form-label">Weight(grams):</label>
                                <input type="number" min="100" required class="form-control" name="weight_in_grams"
                                    placeholder="Weigth">
                            </div>
                            <div class="col-md-6 form-group ">
                                <label for="message-text" class="col-form-label">Breed:</label>
                                <select name="breed" class="form-select form-select-sm" id="">
                                    <option value="german_sherperd">German Sherpard</option>
                                    <option value="maltese">Maltese</option>
                                    <option value="mastiff">Mastiff</option>
                                </select>
                            </div>
                            <div class="col-md-6 form-group ">
                                <label for="num_litters" class="col-form-label">Number of Litters:</label>
                                <input type="number" min="1" required class="form-control" name="num_litters"
                                    placeholder="Num of Litters">
                            </div>
                            <div class="col-md-6 form-group ">
                                <label for="avg_litters" class="col-form-label">Average Litters:</label>
                                <input type="number" min="1" class="form-control" name="avg_litters"
                                    placeholder="Litters Average">
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div>

        <table class="table table-striped" id="adults-table">
            <thead>
                <tr>
                    <th scope="col">Identity</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Age</th>

                    <th scope="col">Breed</th>
                    <th scope="col">NumberOfLitters</th>
                    <th scope="col">AverageLitterSize</th>
                </tr>
            </thead>
            <tbody>
                {%for adult in adults%}
                <tr>
                    <td><a href="/adults/{{ adult.id }}">{{ adult.name }}</a></td>
                    <td>{{adult.weight_in_grams}}</td>
                    <td></td>
                    <td>{{adult.breed}}</td>
                    <td>{{adult.num_litters}}</td>
                    <td>{{adult.avg_litters}}</td>
                    
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
    <script>
        $(function () {
            new DataTable('#adults-table');
            $("#add-new-adult-form").submit(function (e) {
                e.stopPropagation()
                e.preventDefault()
                var form = document.querySelector("#add-new-adult-form")
                if (form.checkValidity() === true) {
                    var data = getFormData("add-new-adult-form")
                    send("/api/adults", data, "POST").done(function (data) {
                        Success(data)
                    }).fail(function (err) {
                        error(`${err.responseText}`, err.statusText)
                    })
                }
                $(form).addClass("was-validated");
            })
        })
    </script>
</div>
{%endblock%}