<style>
    body {
        font-family: Georgia, serif;
        font-size: 16.5px;
    }

    p {
        font-size: 16.5px;
    }

    .sidenav {
        height: 100%;
        /* position: fixed;
        z-index: 1;
        top: 0;
        left: 0; */
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        width: 250px;
    }

    .sidenav.closed {
        width: 0px;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: rgb(184, 176, 176);
    }

    .body-content {
        margin-left: 255px;
        overflow-x: auto;
    }

    .body-content.expand {
        margin-left: 0
    }

    @media (max-width: 780px) {
        .sidenav {
            width: 0;
        }

        .body-content {
            margin-left: 5px;
        }
    }

    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }

        .sidenav a {
            font-size: 18px;
        }
    }

    .centered2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<div id="mySidenav" class="sidenav h-100 fixed-top bg-light border">
    <a href="/adults">Adults</a>
    <a href="/puppies">Puppies</a>
    <a href="/recommendations">Recommendations</a>
    <!-- <a href="#">Notifications</a> -->
</div>
<script>

    $(function () {
        $(".toggle-sidebar").click(function () {
            if ($(".sidenav").hasClass("closed")) {
                $(".sidenav").removeClass("closed").width("250px")
                $(".body-content").removeClass("expand")
            } else {
                $(".sidenav").addClass("closed").width("0")
                $(".body-content").addClass("expand")
            }
        })

    })
</script>