{% extends 'base.html' %}

{% block title %}
Dashboard
{% endblock %}
{% block content %}
<div class=" pt-1  me-1">
	<div class=" d-flex justify-content-start my-3">
		<div class="h4">Help</div>
	</div>
	<div class="alert card mx-1 alert-white p-0  fade show " style="border-left: solid blue; " role="alert">
		<div class="d-flex align-items-end row">
			<div class="col-sm-7">
				<div class="card-body">
					<h5 class="card-title text-primary h4">👋Do you need help?👨‍💻</h5>
					<p class="mb-4">
						This is not part of the plan......
					</p>
				</div>
			</div>
			<div class="col-sm-5 text-center text-sm-left d-none d-sm-inline-block">
				<div class="card-body pb-0 px-0 px-md-4">
					<img src="/img/man-with-laptop-light.png" height="140" alt="View Badge User">
				</div>
			</div>
		</div>

	</div>
</div>
{%endblock%}