{% extends 'base.html' %}

{% block title %}
Dashboard
{% endblock %}
{% block content %}
<div class=" pt-1  me-1">
    <div class=" d-flex justify-content-start my-3">
        <div class="h4">Notifications</div>
    </div>
    <div class="container-fluid p-0">
        <div class="py-2 px-1" style="background-color: rgba(255, 255, 255, 0.8);" id="notifications" role="tabpanel"
            titleledby="general1-list">

            <table class="table table-striped" id="notifications-table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">MSG</th>
                        <th scope="col">Time Created</th>
                        <!-- <th scope="col">Status</th> -->
                        <th scope="col">Category</th>
                    </tr>
                </thead>
                <tbody>
                    {%for notification in all_notifications%}
                    <tr id="{{notification.id}}">
                        <td scope="row">{{notification.id}}</td>
                        <td class="text-">{{notification.message|safe}}</td>
                        <td>{{notification.time_created}}</td>
                        <!-- <td>{{notification.status}}</td> -->
                        <td>{{notification.notification_category}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>

        </div>
        <div class="modal" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true"
            data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content rounded-0">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addUserModalLabel">Add New User</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body ">
                        <!-- User registration form -->
                        <form id="addUserForm" class="needs-validation">
                            <div class="mb-3">
                                <label for="first_name" class="form-label">First Name</label>
                                <input type="text" class="form-control" id="first_name" name="firstName" required>
                            </div>
                            <div class="mb-3">
                                <label for="lastName" class="form-label">Last Name</label>
                                <input type="text" class="form-control" id="last_name" name="last_name" required>
                            </div>

                            <div class="mb-3">
                                <label for="email" class="form-label">email</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                            <div class="mb-3">
                                <label for="userRole" class="form-label">User Role</label>
                                <select class="form-select" id="userRole" name="userRole" required>
                                    <option value="admin">Admin</option>
                                    <option value="user">User</option>
                                </select>
                            </div>
                            <!-- Add more fields as needed -->
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="addUser()">Add User</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%endblock%}