{% extends 'base.html' %}

{% block title %}
Dashboard
{% endblock %}
{% block content %}
<style>
    #add-new-puppy input {
        border-radius: 0;
    }

    .puppy {
        cursor: pointer;
    }
</style>
<div class="me-1 pt-4">

    <div class="container">
        <h2>Puppy Adult Details</h2>
        <table class="table">
            <tbody>
                <tr>
                    <th>Name</th>
                    <td>{{ puppy_adult.name }}</td>
                </tr>
                <tr>
                    <th>Breed</th>
                    <td>{{ puppy_adult.breed }}</td>
                </tr>
                <tr>
                    <th>Weight in Grams</th>
                    <td>{{ puppy_adult.weight_in_grams }}</td>
                </tr>
                <tr>
                    <th>Number of Litters</th>
                    <td>{{ puppy_adult.num_litters }}</td>
                </tr>
                <tr>
                    <th>Average Litters</th>
                    <td>{{ puppy_adult.avg_litters }}</td>
                </tr>
            </tbody>
        </table>
        <div class=" d-flex justify-content-end py-2">
            <button class="btn btn-sm btn-success" role="button" data-bs-toggle="modal" data-bs-target="#add-new-puppy">Add
                new puppy</button>
        </div>
        <div class="border-top pt-2">
            {% if puppies %}
            <table class="table table-striped table-responsive" id="puppies-table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Breed</th>
                        <th scope="col">Age</th>
                        <th scope="col">Sex</th>
                        <th scope="col">Birth Date</th>
                        <th scope="col">Birth Weight</th>
                    </tr>
                </thead>
                <tbody>
                    {%for puppy in puppies%}
                    <tr class="puppy" data-pp-id="{{puppy.id}}">
                        <td>{{puppy.id}}</td>
                        <td>{{puppy.name}}</td>
                        <td>{{puppy.breed}}</td>
                        <td>{{puppy.age}}</td>
                        <td>{{puppy.sex}}</td>
                        <td>{{puppy.birth_date}}</td>
                        <td>{{puppy.birth_weight}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            {%else%}
            <div class="text-center alert alert-warning muted my-4">
                <h6>This dog doesn't have any puppy added!!</h6>
                <button class="btn btn-sm btn-success" role="button" data-bs-toggle="modal" data-bs-target="#add-new-puppy">Add
                    new </button>
            </div>
            {%endif%}
        </div>
    </div>

</div>
<div class="modal fade" data-bs-backdrop="false" id="add-new-puppy" tabindex="-1" role="dialog">
    <div class="modal-dialog rounded-0 modal-lg">
        <div class="modal-content rounded-0">
            <div class="modal-header py-2">
                <h5 class="modal-title">Add New Puppy</h5>
                <!-- <button type="button" class="close btn" data-bs-dismiss="modal" aria-label="Close">
                            <span class="h1" aria-hidden="true">&times;</span>
                        </button> -->
            </div>
            <form id="add-new-puppy-form" class="needs-validation" novalidate>
                <div class="modal-body">

                    <div class="row mt-4 ">
                        <div class="col-md-6 form-group p_star">
                            <label for="id" class="col-form-label">Identify (name or ID):</label>
                            <input type="text" required="" class="form-control" name="name">
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <label for="birth_date" class="col-form-label">Birth Date:</label>
                            <input type="datetime-local" required="" class="form-control" name="birth_date">
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <label for="birth_weight" class="col-form-label">Birth Weight(grams):</label>
                            <input type="number" min="100" required class="form-control" name="birth_weight"
                                placeholder="Birth Weigth">
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <label for="message-text" class="col-form-label">Breed:</label>
                            <select name="breed" class="form-select form-select-sm" id="">
                                <option value="german_sherperd">German Sherpard</option>
                                <option value="maltese">Maltese</option>
                                <option value="mastiff">Mastiff</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <label for="sex" class="col-form-label">Sex:</label>
                            <div class=" d-flex justify-content-start">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="sex" value="male" checked>
                                    <label class="form-check-label" for="sex">
                                        Male
                                    </label>
                                </div>
                                <div class="form-check mx-2">
                                    <input class="form-check-input" type="radio" name="sex" value="female" checked>
                                    <label class="form-check-label" for="sex">
                                        Female
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 form-group p_star">
                            <label for="message-text" class="col-form-label">Parent:</label>
                            <input class="form-control" disabled type="radio" hidden name="parent_id"   value="{{puppy_adult.id}}">
                            <input class="form-control" disabled type="text" value="{{puppy_adult.name}}">
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(function () {
        new DataTable('#puppies-table');

        $("input[name='birth_date']").prop('max', new Date().toISOString().substring(0, 16));
        console.log($("input[name='birth_date']"))
        $('.puppy-parent').selectpicker();
        $(".puppy").click(function (e) {

            // Redirect to a new page
            window.location.href = "/puppies/" +$(this).attr("data-pp-id")
        });

        $("#add-new-puppy-form").submit(function (e) {
            e.stopPropagation()
            e.preventDefault()
            var form = document.querySelector("#add-new-puppy-form")
            if (form.checkValidity() === true) {
                var data = getFormData("add-new-puppy-form")
                send("/api/puppies", data, "POST").done(function (data) {
                    Success(data)
                }).fail(function (e) {
                    error()
                })
            }
            $(form).addClass("was-validated");
        })

    })
</script>
{% endblock %}